/* planner.css */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(31, 28, 48),rgba(2, 132, 238, 0.774));
    text-align: center;
   }

.header {
    background-color: #7091e6;
    color: #adbbda;
    text-align: center;
    padding: 20px 0;
   }
.schedule {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
   }
.day, .time-slot {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
   }
.day {
    background-color: #3d52a0;
   }
.time-slot {
    background-color: #fff;
   }
.box{
    padding: 30px;
    display: inline-block;
}
ul{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}