/* for notes */
@font-face {
    font-family: Evermono;
    src: url(/Portfolio/Notes/Everson\ Mono\ Oblique.ttf);
}
body {
    background-color: #000;
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/page-top.jpg') ;
    width: 100%;
    height: 100%;
    /* background-blend-mode: hue; */
    background-position: center top;
    background-size: 120% 30%;
    background-repeat: no-repeat;
    background-attachment: local;
}

body::before {
    content: '';
    position: fixed;
    
}

h1 {
    font-family: 'Kanit';
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    text-shadow: 0 0 20px #ffffff;
    font-size: 160px;
    font-weight: 400;
    text-align: right;
    position: relative;
    bottom: 150px;
    opacity: 0.5;
}

.project-widget {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #3c3e41;
    padding: 20px;
    margin: 10px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease;
}

.project-widget:hover {
    transform: translateY(-5px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* width: 500px;
    height: 400px; */
    padding: 20px;
}
.description {
    font-size: 0.9em;
    color: #ffffff;
    text-align: right;
    max-width: 200px;
    padding: 5px;
    position: relative;
    top: 10px;
    left: 10px;
}

a {
    color: #ffffff;
}

hr {
    border: 1px solid #ffffff;
    width: 100%;
    position: absolute;
    bottom: 500px;
}

.text-reader {
    width: 70%;
    height: auto;
    min-height: 500px;
    border: 1px solid #ffffff;
}