@font-face {
    font-family: Evermono;
    src: url(Everson\ Mono\ Oblique.ttf);
}

body {
    background-color: rgb(31, 28, 48);
    font-family:'Courier New', Courier, monospace;
}

.box{
    padding: 20px;
    display: inline-block;
}

.name{
    display: block;
}

h1 {
    color: rgb(185, 10, 216)
}